@font-face {
    font-family: Gilroy;
    src: url(../../common/fonts/Gilroy\ Font/Gilroy-Regular.ttf);
  } 
  @font-face {
    font-family: Gilroy-Bold;
    src: url(../../common/fonts/Gilroy\ Font/Gilroy-Bold.ttf);
  } 
  @font-face {
    font-family: Gilroy-Medium;
    src: url(../../common/fonts/Gilroy\ Font/Gilroy-Medium.ttf);
  } 



  .slash{
    height: 15px;   
font-family: 'Gilroy-Medium';
font-size: 16px;
line-height: 10px;
letter-spacing: -0.3px;
color: #1D252D;
margin-top: 10px;
padding-left: 22px;
}
.PDmodelName{
    color: grey;
}

.PDmobileInfoContainer{
/* width: 1060px;
height: 756px;
background: #FFFFFF;
border-radius: 8px;
margin-left: 96px;
display: flex; */
width: 1000px;
height: 100vh;
margin: auto;
display: flex;
align-items: center;
/* justify-content: space-evenly; */
background: #FFFFFF;    
padding: 5px;
margin-bottom:15px ;
}
.PDviewDifferentImages{
    /* width: 100px;
    height: 500px; */
    /* background-color: #FFFFFF;
    text-align: center;
    margin-top: 20px; 
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 0; */
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    
}
.PDarrowBtn{
  color: black;
  border: none;
  background-color: #FFFFFF;
}
.PDUP{
    background-color: #FFFFFF;
}

.PDsmallImgContainer{
box-sizing: border-box;
width: 80px;
height: 80px;
background: #FEFEFE;
border: 1px solid #E9E9E9;
border-radius: 12px;
text-align: center; 
margin-left: 10px;
margin-top: 5px;
margin-bottom: 5px;
padding-top: 7px;
opacity: 0.6;
}
.PDsmallImages{
width: 40px;
height: 64px;
}

.PDsmallImgContainer:hover{
opacity:1;
}

.PDviewMainImage{
  margin-top: 20px;
  width: 350px;
  height: 450px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}
.PDviewMainImage img{
    width: 350px;
    height: 500px;
    border-radius: 10px;
}
.PDallInfoAboutMobile{
    width:500px;
    height: auto;
    background-color: #FFFFFF;
    margin-top: 85px;
    display: flex;
    flex-direction: column;
    padding: 4px;
}
.PDmobileName{ 
    width: 100%;  
font-family: 'Gilroy-Bold';
font-size: 24px;
line-height: 32px;
color: #1E2228;
background-color: #FFFFFF;
}

.PDfeaturesHeading{ 
font-family: 'Gilroy-Bold';
font-size: 12px;
line-height: 22px;
text-transform: uppercase;
color: #939599;
margin-bottom: 0px;
background-color: #FFFFFF;
margin-top: 0px;
}
.PDtickArrow{
color: #21de89;
background-color: #FFFFFF;
}
.PDallFeatures{  
font-family: 'Gilroy-Medium';
font-size: 14px;
line-height: 22px;
color: #939599;
margin: 0px;
background-color: #FFFFFF;
}
.PDkeyFeatures{
    margin-bottom: 10px;
}
.PDarrowIcon{
background-color: white;
}
.PDcircles{
    background-color: #FFFFFF;
    margin-bottom: 15px;
}
.PDchooseColor{
    background-color: #FFFFFF;
    font-family: 'Gilroy-Medium';
font-size: 14px;
line-height: 16px;
color: #1E2228;
margin-bottom: 10px ;
}
.PDcolorbox{
    background-color: #FFFFFF;
    font-family: 'Gilroy-Medium';
font-size: 14px;
line-height: 16px;
color: #1E2228;
width: 75px;
}

.PDcolorOptions{
    display: flex;
    background-color: #FFFFFF;
}
.PDcolorSelected{
    color: rgb(247, 10, 211);
    font-family: Gilroy-Bold;
}
.PDcolor{
width: 46px;
height: 46px;
border-radius: 88px;
}
.color1{
    background: #222C34;
}
.color2{
    background: #3D5971;
}
.color3{
    background: #1E4E95;
}
.color4{ 
background: #FFFFFF;
border: 1px solid #E9E9E9;
}
.color5{
    background: #E5E9EC;
}
.PDselectQuantity{
    background-color: #FFFFFF;
    font-family: 'Gilroy-Bold';
    margin-bottom: 15px;
}
.PDQuantitySelect{
    display: inline-block;
    margin-left: 16px;
    border-radius: 6px;
    background-color: #FFFFFF;
}
#PDsortbyNum{
    width: 54px;
    height: 23px;
    text-align: center;
    border: 1px solid #939599;
    border-radius: 10px;
    background-color: #FFFFFF;
}


.PDactualPrice{    
font-family: 'Gilroy-Bold';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
color: #1E2228;
margin-right: 16px;
background-color: #FFFFFF;
}
.PDcutPrice{
font-family: 'Gilroy-Bold';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.4px;
text-decoration-line: line-through;
color: #939599;
margin-right: 16px;
background-color: #FFFFFF;
}
.PDoffer{ 
font-family: 'Gilroy-Bold';
font-size: 14px;
line-height: 19px;
color: #21C17A;
background-color: #FFFFFF;
}
.PDprices{
    background-color: #FFFFFF;
}
.PDpricesP{   
font-family: 'Gilroy-Medium';
font-size: 14px;
line-height: 19px;
color: #939599;
margin-top: 0px;
background-color: #FFFFFF;
}
.PDEMI{
font-family: 'Gilroy-Bold';
font-size: 12px;
line-height: 14px;
color: #1E2228;
background-color: #FFFFFF;
}
.PDparaImage{
    width: 14px;
height: 14px;
margin-right: 5px;
background-color: #FFFFFF;
}
.PDEMIparas{
    background-color: #FFFFFF;
}
.PDcartButton{
margin-bottom: 18px;
background-color: #FFFFFF;
}
.PDaddToCart{
width: 198px;
height: 56px;
background: #FF2C91;
border: 1px solid #FF2C91;
border-radius: 6px;
text-align: center;
}
.PDaddToCart img{
    width: 19.88px;
height: 15.96px;
background-color: #FF2C91;
}
.PDbtnText{
font-family: 'Gilroy-Bold';
font-size: 16px;
line-height: 19px;
background-color: #FF2C91;
color: #FFFFFF;
}
.PDinfoLast{
    display: flex;
    background-color: #FFFFFF;
    display: none;
}
.PDinfoLast img{
  
    width: 20.54px;
    height: 17.43px;
    margin-right: 5px;
    background-color: #FFFFFF;
    position: relative;
    top: 11px;

}
.PDLAST{
margin-right: 49px;    
font-family: 'Gilroy-Medium';
font-size: 12px;
line-height: 14px;
color: #1E2228;
background-color: #FFFFFF;
}
.PDlastBold{
    margin-left: 27px;
    background-color: #FFFFFF;
}
.PDlastSpan{
    background-color: #FFFFFF;
}






.PDshareBtnDIV{
    background-color: #FFFFFF;
    margin-top: 20px;
}
.PDsharebtn{
box-sizing: border-box;
width: 84px;
height: 30px;
background: #FFFFFF;
border: 1px solid #D8D8D8;
border-radius: 6px;
position: relative;
bottom: 235px;

}




@media only screen and (max-width: 821px) {
    .slash{
        display: none;
    }

    .PDarrowBtn{
        transform: rotate(271deg);
        height: fit-content;
        margin-top: 37px;
    }
    

    .PDmobileInfoContainer{
        width: 100%;
        height: auto;
        flex-direction: column;
        /* justify-content: space-evenly; */
        background: #FFFFFF;  
        margin-bottom: 0px;
    }
    .PDviewDifferentImages{
        flex-direction: row;
        order: 1;
        width: 100%;
        justify-content: space-evenly;
    }
    .PDviewMainImage{
        order: 0;
        display: block;
    }
    
    
    .PDallInfoAboutMobile{
        order: 2;
        margin: 0;
        width: 100%;
        padding: 4px;
        padding-left: 12px;
    }

    .PDsharebtn{
        display: none;
    }
    .PDinfoLast{
        display: flex;
        background-color: #FFFFFF;
       
    }

}

@media only screen and (max-width: 541px) {
    .PDsmallImages {
        width: 30px;
        height: 64px;
    }
    .PDmobileInfoContainer{
        width: 100%;

    }
    .PDviewMainImage {
        height: 300px;
        width: 100%;
        text-align: center;
        background-color: white;
    }
    .PDviewMainImage img{
        height: 300px;
        width: 50%;
    }
    .PDviewDifferentImages {
        width: 100%;
        padding: 2px;
        margin-right: 6px;
    }

    .PDallInfoAboutMobile{

    }

    .PDmobileName{
        left: 20px;
        font-family: 'Gilroy-Bold';
        font-size: 20px;
        line-height: 28px;
        color: #1E2228; 
        order: 1;
    }
    .PDprices{
    order: 2;
    }
    .PDEMIparas{
        order: 3;
    }
    .PDselectQuantity{
        order: 4;
    }
    .PDcircles{
        order: 5;
    }
    .PDkeyFeatures{
        order: 6;
    }
    .PDinfoLast{
        order: 7 ;
        flex-direction: column;
        font-size: 12px;
        line-height: 14px;
    }
    .PDpricesP{
        margin-bottom: 0;
    }
    .PDcartButton{
        display: none;
    }
    .PDlastBold{
        font-size: 14px;
line-height: 16px;
    }

    
    
}