.common-section{
    height:400px;
    border-top: 1px solid;
}
.body-main{
    background: #f5f5f5bf;
    padding: 50px 0 100px 0;
    min-height: 500px;
}
.popular-offers-main{
    margin-left: 58px;
}