.footer-bottom-main{
    padding: 40px;
    padding-left: 0px;
}

.footer-list-heading{
    font-size: 18px;
    line-height: 21px;
    color: #1E2228;
    font-weight: bold;
    text-align: left;
    padding-left: 2rem;
    margin-bottom: 20px;
}

.footer-list-item{
    list-style:none;
    text-align: left;
}

.footer-list-item a{
    margin-bottom: 10px;
    font-size: 14px;
    color: #1E2228;
    text-decoration: none;
}

.footer-list-item a:hover {
    text-decoration: underline;
}

.left-bottom{
    margin-top: 20px;
    text-align: left;
    padding-left: 1rem;
}

.footer-right-subheading{
    font-size: 18px;
    line-height: 21px;
    color: #1E2228;
    font-weight: bold;
}

.right-top, .right-bottom{
    text-align: left;
}
.footer-right-icons{
    margin: 10px 0 20px 0;
    cursor: pointer;
}
.footer-right-icons img{
    margin-right: 10px;
    cursor: pointer;
}
.container{
    margin-left: 0px;
}