.register-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-heading {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 40px;
    color: #1E2228;
    margin-bottom: 40px;
}

.text-pink {
    font-family: 'Gilroy-Medium';
    color: #FF2C91;
    text-decoration: none;
}

.text-right {
    text-align: right;
}

.link-small {
    font-size: 14px;
    line-height: 16px;
}

.heading-sub {
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #1E2228;
    font-weight: 600;
}

.main-btn {
    width: 100%;
    background: #FF2C91;
    border-radius: 6px;
    border: none;
    color: white;
}